<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title%}{% endblock%}</title>
        <link rel="stylesheet" href="{{ app.request.basepath }}/asset/css/main.css">
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script src="{{ app.request.basepath }}/asset/js/main.js"></script>
    </body>
</html>
