/* body{ */
/*     background-color: #ffffff; */
/*     /*color: #ffffff*/ */
/* } */
/* header > nav{ */
/*     background-color: #6f5499 !important; */
/*     color: #ffffff !important; */
/* } */
/* header .navbar-default .navbar-brand{ */
/*     color : #ffffff; */
/* } */
/* header .navbar-default .navbar-brand:hover{ */
/*     color : #ffffff; */
/* } */
/* .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover{ */
/*     color : #ffffff; */
/* } */
/* .navbar-default li.dropdown > ul.dropdown-menu{ */
/*     width: 100%; */
/* } */
/* .page-header > p{ */
/*     font-size: 35px; */
/*     display: inline; */
/*     margin-right: 50px; */
/*     color: #337ab7; */
/* } */
/* .page-header > a{ */
/*     margin-bottom: 15px; */
/* } */
/* #register, #login{ */
/*     background-color: #ffffff; */
/*     width: 600px; */
/*     margin: 0px auto; */
/*     border: 1px solid white; */
/* } */
/* #createarticle{ */
/*     background-color: #ffffff; */
/*     width: 80%; */
/*     margin: 0px auto; */
/*     border: 1px solid white; */
/* } */
/* #createarticle .control-label{ */
/*     text-align: left; */
/* } */
/* #createarticle textarea{ */
/*     height: 300px; */
/* } */
/* #updatearticle_content{ */
/*     height: 300px; */
/* } */
/* .article-title{ */
/*     font-size: 20px; */
/* } */
/* .article-author{ */
/*     font-style: italic; */
/*     margin-left: 20px; */
/* } */
/* .comment-list{ */
/*     margin-top: 20px */
/* } */
/* .pagination{ */
/*     display: block; */
/*     text-align: center; */
/*     margin: 0 auto; */
/* } */
/* .pagination ul li{ */
/*     display: inline-block; */
/*     padding: 10px; */
/*     border: 1px solid silver; */
/* } */
/*  */
/*  */
/*  */

body {
    font-size: 16px;
}

.list-articles div.article-title {
    font-size: 2rem;
}

.list-articles div.article-content {
    font-size: 1.5rem;
}

ul#main-pagination {
    position: absolute;
    top: 60%;
    left: 40%;
}

div.login_form {
    padding: 50px 100px;
    width: 650px;
    background-color: #ddd;
    position: absolute;
    top: 20%;
    left: 30%;
}

div.login_form h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 35px;
}

button#blog_login_submit {
    width: 100%;
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #4d90fe;
    padding: 12px 0px;
    font-family: roboto;
    font-size: 20px;
}
